body {
    background-color: #E0FFFF;
    color: navy;
    font-family: Garamond, serif;
}

h3 {
    background-color: blue;
    color: white;
    font-size: 18px;
    font-style: italic;
     text-decoration: underline;
}

p {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 14px;
    color: #000080;
}

address {
    size: 110%;
}

blockquote {
    text-transform: capitalize;
    align-items: center;
}